    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        height: 100%;
        width: 100%;
        background: #7f7f7f;
    }

    .header {
        height: 1.26rem;
        line-height: 1.26rem;
        background-color: #ffffff;
    }

    .hosptiol-name {
        float: left;
        width: 4.49rem;
        height: 100%;
        display: inline-block;
        font-family: FZLTCHJW--GB1-0;
        font-size: 0.54rem;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #0c5ed3;
        margin-left: 0.2rem;
    }

    .logo {
        width: 7rem;
        height: 1.06rem;
        border: 1px solid #888888;
        position: absolute;
        top: 0rem;
        left: 50%;
        margin-left: -3.5rem;
        background-color: #0c5ed3;
        border-radius: 0px 0px 100px 100px;
        box-shadow: 0px 5px 0 #7f7f7f7f;
    }

    .logo span {
        display: inline-block;
        width: 100%;
        height: 0.84rem;
        line-height: 0.84rem;
        font-family: MicrosoftYaHei-Bold;
        font-size: 0.82rem;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0.12rem;
        color: #ffffff;
        position: absolute;
        bottom: 0.2rem;
        text-align: center;
    }

    .time-div {
        float: right;
        height: 100%;
        width: 4.04rem;
    }

    .date-week {
        width: 1.83rem;
        height: 100%;
        float: left;
        font-size: 0.34rem;
        color: #0c5ed3;
        line-height: 0.27rem;
        text-align: right;
    }

    .week {
        margin-top: 0.38rem;
    }

    .date {
        margin-top: 0.05rem;
        font-size: 0.36rem;
    }

    .time {
        width: 2.21rem;
        height: 100%;
        font-family: MicrosoftYaHei;
        font-size: 0.89rem;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #0c5ed3;
        float: right;
    }

    .main {
        height: calc(100% - 1.86rem);
        margin: 0.1rem;
        background: #ffffff;
        border-radius: 0.3rem;
        padding: 0.2rem;
    }

    .map-box {
        width: 14rem;
        height: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        background: #000000;
        /* background: #d6dee1; */
        /* overflow: scroll; */
    }

    .map-box .map-img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0px;
        left: 0px;
        transform-origin:center
        /* -webkit-user-drag: none; */
        /* -moz-user-drag: none; */
        /* -ms-user-drag: none; */
        /* user-drag: none; */
        /* display: none; */
    }

    .active-img {
        display: block !important;
    }

    .floor-ul {
        box-sizing: border-box;
        margin-left: 0.2rem;
        float: left;
        width: calc(100% - 14.2rem);
        height: 100%;
        font-size: 0.24rem;
        border: solid 1px #eaeaea;
        border-radius: 6px;
        list-style-type: none;
        overflow: auto;
    }

    .child-box {
        display: none;
    }

    .floor-li:first-child {
        margin-top: 0 !important;
    }

    .floor-li {
        margin-top: 0.1rem;
        color: #333333;
        font-size: 0.24rem;
        text-indent: 0.2rem;
        border-radius: 6px;
        border: solid 1px #eaeaea;
    }

    .floor-li .close-img {
        display: inline-block;
        position: absolute;
        width: 0.3rem;
        height: 0.28rem;
        background-image: url('../imgs/rightt.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        right: 0.17rem;
        top: 50%;
        margin-top: -0.11rem;
    }

    .floor-li .expend-img {
        display: inline-block;
        position: absolute;
        width: 0.21rem;
        height: 0.22rem;
        background-image: url('../imgs/down.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        right: 0.23rem;
        top: 50%;
        margin-top: -0.11rem;
    }

    .floor-bpx {
        height: 0.58rem;
        line-height: 0.58rem;
        background-color: #f8f8f8;
        position: relative;
    }

    .child-room {
        padding: 0 0.2rem;
        text-indent: 0;
        min-height: 0.58rem;
        line-height: 0.58rem;
        border-bottom: solid 1px #eaeaea;
        box-sizing: border-box;
        /* overflow: hidden; */
    }

    .active-li {
        background-color: #fff1e1;
    }

    .option-div {
        box-sizing: border-box;
        width: 0.86rem;
        height: 1.42rem;
        background-color: #ffffff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        position: absolute;
        right: 0.2rem;
        bottom: 0.2rem;
        z-index: 10;
    }

    .option-div img {
        width: 0.54rem;
        height: 0.54rem;
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        top: 0.11rem;
        left: 0.15rem;
        cursor: pointer;
    }

    .option-div img:last-child {
        top: 0.75rem;
    }

    .option-div .line {
        width: 0.72rem;
        height: 2px;
        background-color: #dfdfdf;
        top: 50%;
        left: 0.07rem;
        position: absolute;
    }